.WatchPage {
    position: relative;
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
}

.WatchPageTitleDiv {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 50%;
}